<h2>Your Cart</h2>
<table>
  <tr>
    <th>Quantity</th>
    <th>Place</th>
    <th>Price</th>
  </tr>
  
  <%= render(@cart.line_items) %>
  <tr>
    <td colspan="2">Total</td>
    <td><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>

<%= button_to 'Empty cart', @cart, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-small btn-primary" %>






