<% @cart.line_items.each do |item| %>
        <tr>
          <td><%= item.quantity %> </td>
          <td><%= item.place.title %></td>
          <td class="total_cell"><%= number_to_currency(item.total_price) %></td>
        </tr>
  <% end %>