// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.static_pages {

  #about {
    text-align: center;



  }

  #browse {
    text-align: center;
    .neighborhood {
      .container {
        .row {
          color: #333;
          margin: auto;
          padding-top: 20px;
          padding-bottom: 20px;
          .col-md-4 {
            display: inline-block;
            min-height: 1px;
            padding-left: 15px;
            padding-right: 15px;
            position: relative;
            width: 280px;
          }
        }
      }

    }

  }
  #contact {
    text-align: center;
  }
  #help {
    text-align: center;
  }

  #home {
  }
}
