<footer class="footer">
  <div class="learn-more">
    <div class="row">

      <div class="col-md-4">
        <h3>Travel</h3>
        <p>
          From apartments and rooms to treehouses and boats: stay in
          unique spaces in 192 countries.</p>
        <p> <a href="#">See how to travel on Airbnb</a></p>
      </div>

      <div class="col-md-4">
        <h3>Host</h3>
        <p>
          Renting out your unused space could pay your bills or
          fund your next vacation.</p>
        <p><a href="#">Learn more about hosting</a></p>
      </div>

      <div class="col-md-4">
        <h3>Trust and Safety</h3>
        <p>
          From Verified ID to our worldwide customer support team,
          we've got your back.</p>
        <p><a href="#">Learn about trust at Airbnb</a></p>
      </div>
      <p id="footer">
        &copy; 2014,
        All trademarks appearing on this site belong to their respective owners.
      </p>

    </div>
  </div>

</footer>


