<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Rails app", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-left">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Help",    help_path %></li>

        </ul>
        <ul class="nav pull-right">
          <li><%= link_to "About",    about_path %></li>
          <li><%= link_to "Contact",    contact_path %></li>
          <li><%= link_to "Browse", browse_path %></li>

          
        </ul>
      </nav>
    </div>
  </div>
</header>





